[submodule "external/io_utils"]
	path = external/io_utils
	url = git@github.com:Neburalis/io_utils.git
[submodule "external/string_and_thong"]
	path = external/string_and_thong
	url = git@github.com:Neburalis/string_and_thong.git
[submodule "external/smart_stack"]
	path = external/smart_stack
	url = git@github.com:Neburalis/smart_stack.git
